@import "src/styles/variables";

.header {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
  color: $black-400;
  margin: 0;
  @media (max-width: 1024px) {
    text-align: center;
  }
  @media (max-width: 520px) {
    font-size: 18px;
    line-height: 21px;
  }
}