@import "src/styles/variables";

.game-space {
  width: 100%;
  padding: 133px 80px 122px 80px;
  background: $black-100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 675px) {
    padding: 60px 20px 40px 20px;
  }
  @media (max-width: 380px) {
    padding: 60px 0 40px 0;
  }
}